# See http://help.github.com/ignore-files/ for more about ignoring files.

package-lock.json
# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
.vscode


REACT_APP_SHARETRIBE_SDK_CLIENT_ID=659b8456-eb3c-4b9b-af47-acdfbdc855e5

REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51HcHg6AMJqoDqKt51zPHz0yxVX6lX4RqZVGMV4UskPLsLjftvVvAjIwQ8vsuRrSXFwcrtqBeJo7JNbnQBI2oHOEu00FyfYYKaW

REACT_APP_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoiY2hhc2UtNDIiLCJhIjoiY2tmbzM2NmR5MGF3bzJ6bWlvZmM0MmIyMCJ9.eRptbBCl7S8JCo7S3F4NYQ

SHARETRIBE_SDK_CLIENT_SECRET=25f7e1eb5ca63993338c46f77199778f1b777c37

Flex API key = 1845d0c10ab5731ab53abd59b73de6ca757c405f