# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
yarn-error.log
.vscode

ShareTribe API Key =f191436a22541b34af40600a14695b5e64f4f162
Flex Client Secret = 1c023fa46124f87123742de33f24162f1b3c1b91
Flex Client - ID = 04142b3a-cf83-4a12-b5b0-ac1fb6915240
Mapbox Access Token = pk.eyJ1IjoiY2hhc2UtNDIiLCJhIjoiY2tmbzM2NmR5MGF3bzJ6bWlvZmM0MmIyMCJ9.eRptbBCl7S8JCo7S3F4NYQ