@import '../../marketplace.css';

.pageTitle {
  text-align: left;
  color: #4951F2;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  max-width: 100%;
  margin: 24px auto;
  text-align: justify;
  color: #7A7A7A;

  @media (--viewportMedium) {
    width: calc(100% - 72px);
    margin: 72px auto;
  }
}

.aboutText p{
  font-size: 25px;
}

.aboutVideo{
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.theCrew{
  display: inline-block;
  padding: 100px;
  text-align: center;
}

.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}

.crewImage {
  width: 100px;
  border-radius: 50%;
  border: 4px solid #4951F2;
  opacity: 0.5;
}

.crewHeader {
  color: #6ec1e4;
  opacity: 0.75;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}

.contentMain {
  width: 70%;
  margin: auto;
  @media (--viewportMedium) {
    max-width: 100%;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}
