@import '../../marketplace.css';

.pageTitle {
  margin-top: 2%;
  text-align: center;
  color: #050752;
}

.staticPageWrapper {
  width: calc(100% - 48px);
  /*max-width: 720px;*/
  margin: 24px auto;

  @media (--viewportMedium) {
    /*max-width: 650px;*/
    width: calc(100% - 200px);
    margin: 0px auto 36px auto;
  }
}

/* .aboutText p {
  font-size: 25px;
} */

.aboutVideo{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align:center;
  width:100%;
  height: 100%;
  margin: 0 auto;
}

.aboutVideo iframe{
  width: 90%;
  height: 60%;

}

.theCrew {
  display: inline-block;
  padding-bottom: 20px;
  width: 33%;
  text-align: center;
}

/* not needed css
.coverImage {
  width: 100%;
  height: 528px;
  border-radius: 4px;
  object-fit: cover;
  margin: 32px 0 40px;
}*/

.crewImage {
  width: 100px;
  border-radius: 50%;
  border: 4px solid #050752;
  opacity: 0.5;
}

.crewHeader {
  color: #00c9c0;
  opacity: 0.75;
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  @media (--viewportMedium) {
    flex-wrap: nowrap;
  }
}

/* not needed css
.contentSide {
  font-style: italic;

  @media (--viewportMedium) {
    width: 193px;
    margin-right: 103px;
    margin-top: 8px;
  }
}
*/
.contentMain {
  width: calc(100% - 48px);
  /*max-width: 720px;*/
  margin: 24px auto;

  @media (--viewportMedium) {
   /* max-width: 650px;*/
    width: calc(100% - 200px);
    margin: 0px auto 36px auto;
  }
}

.subtitle {
  @apply --marketplaceH3FontStyles;
  margin-top: 32px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 800px){
  .contentMain {
    width: calc(100% - 20px);
  }
  .aboutVideo iframe{
    width:400px;
  }
  .theCrew {
    width: 50%;
    margin-top: 0;
  }
  .theCrew img{
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px){
  .contentMain {
    width: calc(100% - 60px);
  }
  .aboutVideo iframe{
      width:300px;

    }
    .theCrew {
      width: 100%;
    }
}
@media only screen and (max-width: 350px){
  .aboutVideo iframe{
      width:200px;

    }
    .theCrew {
      width: 100%;
    }
}
