@import '../../marketplace.css';

.root {
  & .rules {
    width: calc(100% - 48px);
    max-width: 720px;
    margin: 24px auto;

    @media (--viewportMedium) {
      max-width: 650px;
      width: calc(100% - 72px);
      margin: 72px auto 36px auto;
    }
  }
  & p {
    @apply --marketplaceH4FontStyles;
    margin-left: 100px;
  }
  & h1 {
    /* Adjust heading margins to work with the reduced body font size */
    color: #050752;

    @media (--viewportMedium) {
      max-width: 650px;
      width: calc(100% - 72px);
      margin: 72px auto 36px auto;
    }
  }

  & .lastUpdated {
    @apply --marketplaceBodyFontStyles;
    margin-top: 0;
    margin-bottom: 55px;

    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 54px;
      width: 33%;
    }
  }
}

h1 {
  color: #050752;
}

h3 {
  color: #00c9c0;
  opacity: 0.75;
}
.rules {
  width: calc(100% - 48px);
  max-width: 720px;
  margin: 24px auto;

  @media (--viewportMedium) {
    max-width: 650px;
    width: calc(100% - 72px);
    margin: 72px auto 36px auto;
  }
}
