@import '../../marketplace.css';

.root {
  & .rules{
    width: 33%;
  }
  & p {
    @apply --marketplaceH4FontStyles;
    margin-left: 100px;
  }
  & h1 {
    /* Adjust heading margins to work with the reduced body font size */
    color: #4951f2;

    @media (--viewportMedium) {
      margin: 32px 0 0 0;
    }
  }

  & .lastUpdated {
    @apply --marketplaceBodyFontStyles;
    margin-top: 0;
    margin-bottom: 55px;

    @media (--viewportMedium) {
      margin-top: 0;
      margin-bottom: 54px;
      width: 33%;
    }
  }
}

h1{
    color: #4951f2;
}

h3 {
    color: #6EC1E4;
    opacity: 0.75;
  }
  .rules{
    margin-top: 25px;
  }